body {
    background-color: rgb(131, 185, 252);
    margin: 20px;
    font-family:Inter;
}

nav {
    display: flex;
    align-items: center;
}

.logonav {
    display: flex;
    align-items: center;
}

.navlinks {
    display: flex;
    align-items: center;
    gap: 3rem; 
    margin-left: 2rem;
}

#logo {
    width: 100px;
    height: auto;
}

a {
    text-decoration: none;
    color: rgb(12, 49, 150);
    font-weight: bold;
}

h1 {
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 5rem;
}

.intro {
    text-align: center;
}

#first {
    margin-top: 5rem;
}

.intro img {
    width: 70%;
    max-width: 100%;
}

img {
    width: 40%;
    max-width: 100%;
}

.rightcontent {
    display: flex;
    margin: 1.5rem;
    margin-bottom: 4rem;
}

.leftcontent {
    display: flex;
    margin: 1.5rem;
    margin-bottom: 4rem;
}

.center {
    text-align: center;
    margin-bottom: 4rem;
}

.text {
    margin: 1.5rem;
}

.pointer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 4rem;
    aspect-ratio: 1;
    background-image: url('../project/images/fishy.png');
    background-size: contain;
    background-repeat: no-repeat;


    pointer-events: none;

    /*transform: translate3d(var(--mouseX, 0), var(--mouseY, 0), 0); */
    transform: translate3d(var(--mouse-x, 0), var(--mouse-y, 0), 0) translate(-50%, -50%);

    transition: 0.4s ease-out;
    transition-property: transform, width, border, background-color;
}

.btn:hover ~ .pointer {
    width: 5rem;
    background-color: transparent;
    border-color: black;
}


@media (prefers-reduced-motion: reduce) {
    .pointer,
    #coordinates {
        display: none;
    }
}

@media (pointer: coarse) {
    .pointer,
    #coordinates {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        gap: 1rem;
    }

    .navlinks {
        margin-left: 0;
        gap: 1.5rem;
    }

    .rightcontent, .leftcontent {
        flex-direction: column;       
        text-align: center;
        margin: 1rem auto;
    }

    .rightcontent img, .leftcontent img {
        width: 80%;                   
        max-width: 350px;             
        margin: 0 auto 1rem;
    }

    .text {
        margin: 0 1rem;               
    }
}

/*@media only screen and (min-width: 600px), (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 1rem;
    }

    .navlinks {
        margin-left: 0;
        gap: 1.5rem;
    }

    h1 {
        margin-bottom: 1rem;
    }

    body {
        font-size: 1.5rem;
    }

    img {
        max-width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 2rem;
    }
} */

@media only screen and (min-width: 1900px) {
    body {
        font-size: 2rem;
    }
}

