body {
    text-align: center;
    background-color: rgb(131, 185, 252);
    margin: 20px;
    font-family: Inter;
}

img {
    width: 50%;
    margin-bottom: 1rem;
}

footer {
    text-align: left;
}

nav {
    display: flex;
    align-items: center;
}

.logonav {
    display: flex;
    align-items: center;
}

.navlinks {
    display: flex;
    align-items: center;
    gap: 3rem; 
    margin-left: 2rem;
}

#logo {
    width: 100px;
    height: auto;
}

a {
    text-decoration: none;
    color: rgb(12, 49, 150);
    font-weight: bold;
}

p {
    margin-bottom: 3rem;
}

.pointer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 4rem;
    aspect-ratio: 1;
    background-image: url('../project/images/fishy.png');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;

    /*transform: translate3d(var(--mouseX, 0), var(--mouseY, 0), 0); */
    transform: translate3d(var(--mouse-x, 0), var(--mouse-y, 0), 0) translate(-50%, -50%);

    transition: 0.4s ease-out;
    transition-property: transform, width, border, background-color;
}

.btn:hover ~ .pointer {
    width: 5rem;
    background-color: transparent;
    border-color: black;
}

@media (prefers-reduced-motion: reduce) {
    .pointer,
    #coordinates {
        display: none;
    }
}

@media (pointer: coarse) {
    .pointer,
    #coordinates {
        display: none;
    }
}